*.class
ac-comphist.dat
tramp
tmp
Xdefaults
abbrev_defs
*~
auto-save-list
.desktop_session/*
*.elc
*.elc*
stuff_from_other_not_used
pkg
.emacs.desktop
.emacs.desktop.lock
.emacs.desktop
thumbs
anything-c-adaptive-history
.gitignore
cache
doc/*
*.pdf
Makefile
xhtml-loader.rnc
site-lisp/org-mode-git/
.gitignore
/TAGS
/bin/mew-6.4/mew.log
/bin/mew-6.4/temp.el
/eshell/history
/eshell/lastdir
xcopy /y %emacs_dir%\bin\emacsclient.exe  %emacs_dir%\bin\ec.exe 
COMMIT_EDITMSG
*.dump
*.beam
ebin/*.app
*.tmp
TAGS
