%% http://www.erlang.org/doc/design_principles/distributed_applications.html
%% http://learnyousomeerlang.com/distributed-otp-applications
%% erl -name emacs@localhost -config master.config
%% erl -name c@localhost -config c.config
%% erl -name c2@localhost -config c2.config
[{kernel,
  [{distributed, [{distributed_application, 5000, ['emacs@localhost', {'c@localhost','c2@localhost' }]}]},
   {sync_nodes_mandatory, ['c2@localhost','emacs@localhost' ]},
   {sync_nodes_timeout, 30000}
  ]
 }
].
