{sys, [
       %指定用户所用到的module 在哪个目录,免去erl -env ERL_LIBS . 的麻烦
       % {lib_dirs, ["/home/jixiuf/erl/sgLogServer/deps/"]},
       %% {erts, [{vsn, "5.7.5"}]}, % 可以不指定 vsn
       {rel, "game_log_server", "0.1", %此次release 的版本号
        [kernel,                                %与erlcount-1.0.rel的不同是，不必非得指明相应的版本号
         stdlib,
         {emysql, permanent}
        ]
       },
       {boot_rel, "game_log_server"}                  %表示第当运行此次release 中bin 目录下的erl 程序时自动运行erlcount
      ]}.
%% {ok, Conf} = file:consult("reltool.config").
%% {ok, Spec} = reltool:get_target_spec(Conf).
%% reltool:eval_target_spec(Spec, code:root_dir(), "rel").
